@page "/"

<PageTitle>Index</PageTitle>


<GridRow>
    <GridCol Span="3">

        <Card Title="课程章节">

            <Tree ShowLine="true" @ref="tree" DefaultExpandAll
                  ShowIcon="false"
                  ShowLeafIcon="false"
                  DataSource="games"
                  TitleExpression="x => x.DataItem.Text"
                  ChildrenExpression="x => x.DataItem.Items"
                  IconExpression="x => x.DataItem.Icon"
                  IsLeafExpression="x => x.DataItem.Items?.Count == 0"
                  KeyExpression="x => x.DataItem.Id" TItem="GameElement">
            </Tree>
        </Card>
    </GridCol>
    <GridCol Span="9">
        <Card Bordered="true" Title="JavaScript 赋值" Style="margin-left: 10px">
            <Button Icon="@IconType.Outline.ArrowLeft">上一节</Button>
            <Button Icon="@IconType.Outline.ArrowRight">下一节</Button>

            <Divider Dashed/>

            <a href="javascript:void(0);" onClick="callChild(this)">date</a>
            <br>
            <a href="javascript:void(0);" onclick="callChild(this)">kubectl get pods </a>
            <br>
            <a href="javascript:void(0);" onclick="callChild(this)">whoami</a>
            <br>

            <Divider Dashed/>
            <Button Icon="@IconType.Outline.ArrowLeft">上一节</Button>
            <Button Icon="@IconType.Outline.ArrowRight">下一节</Button>

        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Bordered="true" Title="试一试" Style="margin-left: 10px">
            <iframe name="child" id="child" src="/codeshell.html" width="100%" height="auto">
            </iframe>
        </Card>
    </GridCol>
</GridRow>
